<div id="new-student-container" class="container">

  <h1 id="new-student-header" class="header">Create new student</h1>
  <% if !@student.errors.empty? %>
    <% @student.errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <%= form_for @student do |f|%>
    <div class="fieldset">
      <%= label_tag "Give name: " %>
      <%= f.text_field :name %>
    </div>
    <div class="fieldset">
      <%= label_tag "Give email: " %>
      <%= f.text_field :email %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
