<div id="student-courses-container" class="container">
  <h1 id="student-courses-title" class="header">Hello, <%= @student.name %>! </h1>
  <h3>Your courses:</h3>

  <ul id="student-courses-list" class="list">
    <% @courses.each do |course| %>
    <li class="courses-list-item">
      <%= link_to course.title, course_path(course), :class => "courses-list-title" %>
      <span class="courses-list-descr"><%= course.descr %></span>
    </li>
    <% end %>
  </ul>

  <div id="student-courses-edit" class="edit">
    <%= link_to "Edit student", { :controller => "students", :action => "edit" } %>
  </div>

  <div id="student-courses-delete" class="delete">
    <%= link_to "Kill student", { :controller => "students", :action => "destroy" } %>
  </div>

  <div id="student-courses" class="back">
    <%= link_to "Back to students", students_path %>
  </div>
</div>
