<h1>Hello, <%= @student.name %>! </h1>
<h3>Your courses:</h3>

<ol>
  <% @student.courses.each do |course| %>
    <li><a class ="course_name" href="../courses/<%= course.id %>"><%= course.title %></a></li>
  <% end %>
</ol>

<h3>Enroll to coursses: </h3>
<%= form_for (@student) do |f| %>
  <% @courses.each do |c|  %>
    <div>
      <a href="/courses/<%= c.id %>"><%= c.title %></a> <%= check_box "selected_courses", c.id %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>


<a href="/students">Back to students</a>
